body{
    background-color: rgb(218, 170, 111);
}

#tarolo{
    background-color: rgb(148, 90, 35);
    color: rgb(255, 241, 224);
    width: 80%;/* a width értéke mindig százalékos */
    max-width: 800px;/* max width, px, pt */
    margin: auto;/* a böngésző két oldalán a margok egyenlők */
    padding: 10px;
}

#menu{
    padding: 10px;
}

#menu a{
    color: rgb(255, 252, 246);
    text-decoration: none;
    border: 1px solid rgb(233, 113, 0);
    padding: 5px 10px 5px 10px;
    margin: 10px;
    border-color: rgb(241, 117, 0);
    background-color: rgb(228, 122, 23);
    border-radius: 10px;
}
#menu a:hover{
    color: rgb(226, 125, 43);
}